@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}
a {
  text-decoration: none;
}

.reload {
  background-image:url(reload.svg);
  width:65px;
  height:65px;
  margin: 0 auto;
}

.twitch-extension {
  width:318px;
  height:420px;
  background-color:#ddd;
  position: relative;
}

.twitch-extension > div {
  width:318px;
  height:420px;
  position: absolute;
}

.action-item-start {
  font-family: Bungee, 'sans serif';
}

.action-item-start:hover {
  color: white !important;
}

.action-item {
  font-family: Bungee, 'sans serif';
  color:black;
}

.action-item:hover {
  background-color: white;
  color:black;
}


.action-item--negative {
  color:white;
}

.action-item--negative:hover {
  color:black;
}


.text {
  padding: 4px;
  position: relative;
}

.text:hover {
  z-index: 99;
  transform: scale(1.6);
}

.races-container {
  padding: 1em;
  width:318px;
  height:420px;
  /* height: 100%; */
}

.starcraft {
  color:#eee;
}

.starcraft .starcraft__title {
  text-align: center;
  margin:0.5em -0.5em 0.5em -1em;
  /* background-color: #333; */
  
  font-weight: bold;
  font-size: 2em;
}

.starcraft .race {
  background-color: rgba(0,0,0,0.5);
  border-radius: 2px;
}

.races {
  flex-direction: row;
  display: flex;
  
}

.race-description {
  font-size: 15px;
  text-indent: 1em;
}

.races-list-item {
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}


.races-list-item a {
  text-decoration: none;
  color:black;
}


.race {
  /* flex:1; */
  padding: 0.5em 1em 0em 1em;
  height: 100%;
  
}

.race__title {
  text-align: center;
  margin:0.5em -0.5em 0.5em -1em;
  /* background-color: #333; */
  color:#eee;
  font-weight: bold;
  font-size: 2em;
}    

.race__description {
  text-align: center;
  margin-left: -1em;
  margin-right: -1em;
  background-color: rgba(0, 0, 0, 0.5);
  color: #eee;
  padding:0.5em;
}   

.unit-labels-container {
  padding: 0.5em 1em 0em 1em;
  background-color:#ddd;
  /* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
  background-image: linear-gradient(to left, #BDBBBE 0%, #9D9EA3 100%), radial-gradient(88% 271%, rgba(255, 255, 255, 0.25) 0%, rgba(254, 254, 254, 0.25) 1%, rgba(0, 0, 0, 0.25) 100%), radial-gradient(50% 100%, rgba(255, 255, 255, 0.30) 0%, rgba(0, 0, 0, 0.30) 100%);
 background-blend-mode: normal, lighten, soft-light;
  height: 100%;
}

.unit-labels {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  padding: 1em;
  border-radius: 40px;
  
}

.unit-label {
  flex:1;
}

.unit, .upgrade, .ability, .weapon {
  padding: 0.5em 1em 0em 1em;
  height: 100%;
  background: #C9CCD3;
 background-image: linear-gradient(-180deg, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%);
 background-blend-mode: lighten;
}


.unit__title, .upgrade__title, .ability__title, .weapon__title {
  text-align: center;
  padding: 0.5em 0 0 0;
  margin-left: -1em;
  margin-right: -1em;
  background-color: #333;
  color: white;
  font-weight: bold;
  margin-top: 0.3em;
}    
    

.unit__title i, .upgrade__title i, .ability__title i, .weapon__title i{
  zoom:1.4;
}

.upgrade table, .weapon table {
  margin-top:1em;
}

.back-button {
  opacity: 0.5;
}

.back-button:hover {
  opacity: 1;
}

.compare-container {
  padding:1em;
}

.compare-container tr {
  height: 3.5em;
}

.unit-stats-page-selector {
  float:right;
}

.unit-stats-page-selector img.unit-stats-page-selector--active {
  opacity: 0.5;
}

.unit-stats-page-selector img {
  width:20px;
}

.upgrade-stats-page-selector img.upgrade-stats-page-selector--active {
  opacity: 0.5;
}

.upgrade-stats-page-selector img {
  width:20px;
}

.upgrade-stats-page-selector-label {
  top: -5px;
  position: relative;
}

table tr td {
  padding:0.2em 0.5em;
}
table tr td:first-child {
  /* border-right:1px solid #aaa; */
}
table tr:nth-child(even) {
  background: #ffffff6b;
}

table {
  border-collapse: collapse;
  width:100%;
}

.unit-header {
  text-shadow: 0px 1px 1px #949494;
  color: #C9CCD3;
  text-transform: uppercase;
  position: absolute;
  width:100%;
  height: 0%;
  text-align: center;
  top: 10px;
  left: 0;
}