@import url('https://fonts.googleapis.com/css?family=Bungee');

* {
  -webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	
	box-sizing: border-box; 
}

#twitch-extension {
  width:320px;
  height:300px;
  background-color:#ddd;
}

.text {
  padding: 4px;
}

.races-container {
  height:100%;
  padding: 1em;
}

.races {
  flex-direction: row;
  display: flex;
  
}

.race-description {
  font-size: 15px;
  text-indent: 1em;
}

.races-list-item {
  flex:1;
  display:flex;
  align-items: center;
  justify-content: center;
}

.action-item {
  font-family: Bungee, 'sans serif';
}

.races-list-item:hover {
  background-color: white;
}

.races-list-item a {
  text-decoration: none;
  color:black;
}

.race {
  flex:1;
  padding: 1em;
}

.unit-labels-container {
  height: 100%;
}

.unit-labels {
  display:flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: black;
  /* height: 100%; */
}

.unit-label {
  flex:1;
}